.layout-index{
	position: relative;
	background-color: #f0f0f0;
	padding-bottom: 60px;
	transition: all .3s;
}
.layout-index.on{
	padding-left: 492px;
	margin-right: -492px;
}
header{
	position: relative;
	height: 68px;
	background-color: #29bde0;
}
.header-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 78px;
	height: 68px;
}
.header-menu a{
	display: block;
	height: 68px;
	background: url(../imgs/zys1.png) no-repeat center;
}
.index{
	padding-top: 26px;
}
.index-last{
	height: 116px;
	line-height: 116px;
	text-align: center;
	margin: 0 35px;
	background-color: #fff;
	border: 1px solid #c9c9c9;
}
.index-last a{
	display: block;
	height: 116px;
	font-size: 35px;
	color: #9a9a9a;
	background: url(../imgs/zys2.png) no-repeat right 14px center;
}
.index-version{
	margin: 25px 35px 0;
	border: 1px solid #c9c9c9;
	background-color: #fff;
}
.index-version_head{
	height: 90px;
	font-size: 38px;
	line-height: 90px;
	text-align: center;
	color: #fbb435;
	border-bottom: 1px solid #fdd793;
}
.index-version_body{
	position: relative;
	padding-top: 30px;
}
.index-version_body li a{
	display: block;
	height: 134px;
	line-height: 134px;
	text-align: center;
	margin: 0 54px;
	font-size: 32px;
	color: #fff;
	background-color: #69d1e9;
	
}
.index-version_body li h4{
	font-size: 25px;
	color: #787878;
	line-height: 82px;
	text-align: center;
}
.index-version_nav{
	padding-bottom: 10px;
}
.index-version_nav ul{
	text-align: center;
}
.index-version_nav li {
	display: inline;
}
.index-version_nav li a{
	display: inline-block;
	width: 17px;
	height: 17px;
	background-color: #f0f0f0;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius:100%;
}
.index-version_nav li.on a{
	background-color: #69d1e9;
}
.index-version_arrow{
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -51px;
}
.index-version_arrow a{
	display: inline-block;
	width: 28px;
	height: 56px;
	background: url(../imgs/zys3.png) no-repeat center;
	background-size: 28px 56px;
}
.side-menu{
	/*display: none;*/
	position: absolute;
	left: -492px;
	top: 0;
	bottom: 0;
	width: 492px;
	background-color: #fff;
	transition: all .3s;
}
.side-menu.on{
	display: block;
	left: 0;
}
.side-menu li{
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #d6d6d6;
}
.side-menu a{
	display: block;
	height: 80px;
	background: url(../imgs/zys17.png) no-repeat right 50px center;
	background-size: 24px 40px;
}
.side-menu label{
	padding-left: 105px;
	font-size: 30px;
	color: #29bde0;
	background-size: 40px;
}
.side-menu .gg label{
	background: url(../imgs/zys13.png) no-repeat 34px center;
}
.side-menu .sz label{
	background: url(../imgs/zys14.png) no-repeat 34px center;
}
.side-menu .bz label{
	background: url(../imgs/zys15.png) no-repeat 34px center;
}
.side-menu .gy label{
	background: url(../imgs/zys16.png) no-repeat 34px center;
}
/*index开始*/

/*.layout-index{
	background-color: #f0f0f0;
	padding-bottom: 0.6rem;
}
header{
	position: relative;
	height: 0.68rem;
	background-color: #29bde0;
}
.header-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 0.78rem;
	height: 0.68rem;
}
.header-menu a{
	display: block;
	height: 0.68rem;
	background: url(../imgs/zys1.png) no-repeat center;
	background-size: 0.34rem 0.27rem;
}
.index{
	padding-top: 0.26rem;
}
.index-last{
	height: 1.16rem;
	line-height: 1.16rem;
	text-align: center;
	margin: 0 0.35rem;
	background-color: #fff;
	border: 1px solid #c9c9c9;
}
.index-last a{
	display: block;
	height: 1.16rem;
	font-size: 0.35rem;
	color: #9a9a9a;
	background: url(../imgs/zys2.png) no-repeat right 0.14rem center;
	background-size: 0.24rem 0.4rem;
}
.index-version{
	margin: 0.25rem 0.35rem 0;
	border: 1px solid #c9c9c9;
	background-color: #fff;
}
.index-version_head{
	height: 0.9rem;
	font-size: 0.38rem;
	line-height: 0.9rem;
	text-align: center;
	color: #fbb435;
	border-bottom: 1px solid #fdd793;
}
.index-version_body{
	position: relative;
	padding-top: 0.3rem;
}
.index-version_body li a{
	display: block;
	height: 1.34rem;
	line-height: 1.34rem;
	text-align: center;
	margin: 0 0.54rem;
	font-size: 0.32rem;
	color: #fff;
	background-color: #69d1e9;
	
}
.index-version_body li h4{
	font-size: 0.25rem;
	color: #787878;
	line-height: 0.82rem;
	text-align: center;
}
.index-version_nav{
	padding-bottom: 0.1rem;
}
.index-version_nav ul{
	text-align: center;
}
.index-version_nav li {
	display: inline;
}
.index-version_nav li a{
	display: inline-block;
	width: 0.17rem;
	height: 0.17rem;
	background-color: #f0f0f0;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius:100%;
}
.index-version_nav li.on a{
	background-color: #69d1e9;
}
.index-version_arrow{
	position: absolute;
	right: 0.08rem;
	top: 50%;
	margin-top: -0.51rem;
}
.index-version_arrow a{
	display: inline-block;
	width: 0.28rem;
	height: 0.56rem;
	background: url(../imgs/zys3.png) no-repeat center;
	background-size: 0.28rem 0.56rem;
}*/

/*index结束*/

/*设置页面 开始*/
.layout-setpage{
	background-color: #f0f0f0;
}
.header-return{
	position: absolute;
	left: 0;
	top: 0;
	width: ;
	height: 68px;
	width: 65px;
}
.header-return a{
	display: block;
	height: 68px;
	background: url(../imgs/zys4.png) no-repeat center;
	background-size: 25px 41px;
}
header h2{
	text-align: center;
	font-size: 34px;
	color: #fff;
	line-height: 68px;
}
.setpage-matching{
	height: 452px;
}
.header-help{
	position: absolute;
	right: 0;
	top: 0;
	height: 68px;
	width: 83px;
}
.header-help a{
	display: block;
	height: 68px;
	background: url(../imgs/zys5.png) no-repeat center;
	background-size: 47px;
}
.setpage{
	padding-bottom: 22px;
	margin: 20px 18px 0;
}
.setpage-matching{
	position: relative;
	/*position: absolute;
	left: 0;
	top: 0;*/
	height: 452px;
	background-color: #fff;
}
.setpage-matching_title{
	position: absolute;
	left: 0;
	top: 0;
	width: 120px;
	height: 100%;
	text-align: center;
	border-right: 1px solid #d9d9d9;
}
.setpage-matching_title span{
	display: inline-block;
	padding-top: 143px;
	width: 36px;
	line-height: 40px;
	font-size: 36px;
	color: #444444;
}
.setpage-matching_setting{
	padding-left: 121px;
}
.setpage-matching_players{
	background-color: #fbfbfb;
}
.setpage-matching_players ul{
	overflow: hidden;
	padding-top: 48px;
}
.setpage-matching_players li{
	float: left;
	font-size: 26px;
	color: #a1a1a1;
	width: 35%;
	padding-left: 15%;
	line-height: 26px;
	margin-bottom: 40px;
}
.col1{
	background: url(../imgs/zys6.jpg) no-repeat 20% center;
	background-size: 10px;
}
.col2{
	background: url(../imgs/zys7.jpg) no-repeat 20% center;
	background-size: 10px;
}
.setpage-matching_players{
	padding-bottom: 13px;
	height: 378px;
	overflow-y: auto;
}

.setpage-matching_edit{
	border-top: 1px solid #d9d9d9;
	background-color: #fbfbfb;
	height: 60px;
}
.setpage-matching_edit a{
	display: block;
	height: 60px;
	font-size: 28px;
	color: #29bde0;
	line-height: 60px;
	text-align: center;
}
.setpage-matching_edit span{
	padding-right: 30px;
	background: url(../imgs/zys8.png) no-repeat right center;
	background-size: 14px;
}
.setpage-words{
	margin-top: 8px;
	height: 200px;
	background-color: #fff;
}
.setpage-words ul{
	padding: 0 28px;
}
.setpage-words li{
	height: 76px;
	margin-bottom: 10px;
	border-bottom: 2px solid #f0f0f0;
}
.setpage-words li input[type=text]{
	margin-top: 21px;
	width: 100%;
	font-size: 28px;
	color: #d7d7d7;
	border: none;
	color: #333333;
}
.setpage-num{
	margin-top: 8px;
	padding: 20px 28px 40px;
	background-color: #fff;
}
.setpage-num_txt h4{
	font-size: 28px;
	color: #444444;
	line-height: 42px;
}
.setpage-num_txt h4 input[type=number]{
	margin-left: 27px;
	margin-right: 20px;
	width: 60px;
	height: 42px;
	font-size: 34px;
	color: #fab344;
	background-color: #f4f5f5;
	border: none;
	text-align: center;
}
.setpage-num_input{
	position: relative;
	margin-top: 50px;
	text-align: center;
	height: 28px;
	padding: 0 40px;
}
.setpage-num_input input[type=range]{
	margin-top: 4px;
	width: 100%;
}
.setpage-num_left,
.setpage-num_right{
	position: absolute;
	top: 0;
	display: inline-block;
	width: 26px;
	height: 26px;
	border: 1px solid #d9d9d9;
}
.setpage-num_left{
	left: 0;

	background: url(../imgs/zys11.jpg) no-repeat center;
}
.setpage-num_right{
	right: 0;
	background: url(../imgs/zys12.jpg) no-repeat center;
}
.setpage-btn{
	margin-top: 20px;
}
.setpage-btn input[type=button]{
	border: none;
	cursor: pointer;
	width: 100%;
	height: 88px;
	background-color: #fab344;
	font-size: 40px;
	color: #fff;
}
/*设置页面 结束*/

/*翻牌 开始*/
.layout-draw{
	background-color: #29bde0;
}
.header-close{
	position: absolute;
	right: 0;
	top: 0;
	height: 68px;
	width: 70px;
}
.header-close a{
	display: block;
	height: 68px;
	background: url(../imgs/zys9.png) no-repeat center;
	background-size: 36px;
}

.draw{
	padding-bottom: 60px;
	border-top: 1px solid #74d4eb;
}
.draw-card{
	position: relative;
	margin-top: 84px;
	text-align: center;
}
.draw-card_img{
	line-height: 0;
}
.draw-card_img img{
	border: 6px solid #fff;
}
.draw-card span{
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -34px;
	display: inline-block;
	width: 68px;
	height: 68px;
	line-height: 68px;
	font-size: 40px;
	color: #f56b81;
	background-color: #fff;
	border: 3px solid #ffedc5;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius:100%;
}
.draw-btn{
	margin: 122px 75px 0;
}
.draw-btn a{
	display: block;
	height: 85px;
	line-height: 85px;
	font-size: 48px;
	color: #fff;
	text-align: center;
	background-color: #fbb435;
}
/*翻牌 结束*/

/*翻牌杀手 开始*/
.draw-card_img2{
	margin: 0 auto;
	width: 452px;
	height: 644px;
	border: 6px solid #fff;
	background-color: #ffedc5;
}
.draw-card_img2 img{
	margin-top: 58px;
}
.draw-card_img2 h4{
	font-size: 40px;
	color: #29bde0;
}
/*翻牌杀手 结束*/

/*法官查看 开始*/
.layout-judgecheck{
	background-color: #46c4e4;
}
.judgecheck{
	padding: 64px 45px 200px;
}
.judgecheck ul{
	overflow: hidden;
	/*display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;*/
}
.judgecheck li{
	float: left;
	width: 33.33%;
	margin-bottom: 74px;
}
.judgecheck .judgecheck-box{
	margin: 0 auto;
	width: 126px;
	/*height: 126px;*/
	border: 5px solid #fff;
}
.judgecheck-identity{
	height: 98px;
	line-height: 98px;
	text-align: center;
	font-size: 30px;
	background-color: #f4d085;
}
.judgecheck li h4{
	height: 28px;
	line-height: 28px;
	font-size: 22px;
	text-align: center;
	color: #fff;
	background-color: #92b7a5;
}
.judgecheck-btn{
	position: fixed;
	padding-top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	height: 147px;
	border-top: 1px solid #fff;
	background-color: #29bde0;
}
.judgecheck-btn a{
	display: block;
	margin: 0 84px;
	height: 86px;
	line-height: 86px;
	text-align: center;
	font-size: 40px;
	color: #fff;
	background-color: #fbb435;
}
/*法官查看 结束*/

/*法官台本 开始*/
.layout-stage{
	background-color: #f3f3f3;
}
.stage{
	margin: 35px 10px 0;
	padding-bottom: 130px;
}
.stage-head{
	height: 84px;
	line-height: 84px;
	text-align: center;
	color: #29bde0;
	font-size: 30px;
	border: 1px solid #c9c9c9;
	background: url(../imgs/zys19.png) no-repeat right 18px center #fff;
	background-size: 30px 17px;
}
.stage-body{
	position: relative;
	margin-top: 13px;
	border: 1px solid #c9c9c9;
	background-color: #fff;
}
.stage-body:after{
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -17px;
	top: -14px;
	width: 34px;
	height: 14px;
	background: url(../imgs/zys23.png) no-repeat center;
}
.stage-body_left{
	position: absolute;
	left: 0;
	width: 130px;
	height: 100%;
}
.stage-body_left:after{
	content: "";
	position: absolute;
	left: 50px;
	width: 2px;
	top: 50px;
	bottom: 38px;
	background-color: #c9c9c9;
}

.stage-body_right{
	padding-top: 50px;
	padding-bottom: 18px;
	margin-left: 130px;
	margin-right: 20px;
}
.stage-body_right li{
	position: relative;
	margin-bottom: 20px;
	text-align: center;
}

.stage-body_right li a{
	position: relative;
	display: block;
	line-height: 75px;
	height: 75px;
	background-color: #24a7c6;
	color: #fff;
	font-size: 30px;
}
.stage-body_right li a:after{
	content: "";
	position: absolute;
	left: -16px;
	top: 50%;
	margin-top: -11px;
	width: 16px;
	height: 22px;
	background: url(../imgs/zys22.png) no-repeat center;
}
.stage-body_right h4{
	font-size: 24px;
	height: 30px;
	line-height: 48px;
}
.stage-body_right .sssr:before{
	content: "";
	position: absolute;
	top: 7px;
	left: -110px;
	z-index: 1;
	width: 56px;
	height: 56px;
	border: 2px solid #c9c9c9;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius:100%;
	background: url(../imgs/zys20.png) no-repeat center #fff;
}
.stage-body_right .wlfb:before{
	content: "";
	position: absolute;
	top: 7px;
	left: -110px;
	z-index: 1;
	width: 56px;
	height: 56px;
	border: 2px solid #c9c9c9;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius:100%;
	background: url(../imgs/zys21.png) no-repeat center #fff;
}
.stage-btns{
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	padding-top: 30px;
	background-color: rgba(41,189,224,.5);
}
.stage-btns ul{
	margin: 0 40px;
	display: flex;
	justify-content: space-between;
}
.stage-btns li {
	display: inline;
}
.stage-btns li a{
	padding: 0 10px;
	display: block;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	color: #fff;
	background-color: #fbb435;
}
/*法官台本 结束*/

/*投票 开始*/
.vote{
	padding-bottom: 200px;
}
.vote-list{
	padding-top: 90px;
}
.layout-vote{
	background-color: #29bde0;
}
.vote-txt{
	position: relative;
}
.vote-txt h4{
	position: relative;
	height: 82px;
	line-height: 82px;
	padding-left: 46px;
	font-size: 26px;
	color: #464646;
	background-color: #b9e9f5;
}
.vote-txt h4:after{
	content: "";
	position: absolute;
	bottom: -13px;
	left: 70px;
	width: 15px;
	height: 13px;
	background: url(../imgs/zys24.png) no-repeat center;
}
.vote-txt_hint{
	position: absolute;
	left: 72px;
	bottom: -50px;
	font-size: 24px;
	color: #fff;
}
.vote-list ul{
	overflow: hidden;
}
.vote-list li{
	float: left;
	width: 33.33%;
	height: 221px;
}
.vote-list_box{
	margin: 0 auto;
	width: 126px;
	height: 126px;
	text-align: center;
	border: 5px solid #fff;
}
.vote-list_identity{
	font-size: 30px;
	color: #565656;
	height: 100px;
	line-height: 100px;
	background-color: #f5c97b;
}
.vote-list_box h4{
	font-size: 22px;
	color: #fff;
	background-color: #83b09a;
}
.vote-list_kill{
	/*display: none;*/
	padding: 20px 0;
	line-height: 0;
	text-align: center;
}
.vote-list_kill em{
	display: inline-block;
	width: 45px;
	height: 45px;
	background: url(../imgs/zys24.jpg) no-repeat center;
	background-size: cover;
}
.vote-btn{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 40px;
	height: 150px;
	border-top: 1px solid #fff;
	background-color: #29bde0;
}
.vote-btn a{
	display: block;
	margin: 0 78px;
	height: 87px;
	line-height: 87px;
	text-align: center;
	color: #fff;
	font-size: 40px;
	background-color: #fbb435;
}
/*投票 结束*/

/*结果页 开始*/
.layout-result{
	background-color: #fff;
}
.header-main{
	position: absolute;
	left: 0;
	top: 0;
}
.header-main a{
	display: inline-block;
	height: 68px;
	width: 92px;
	background: url(../imgs/zys25.png) no-repeat center;
	background-size: 51px 42px;
}
.result-txt{
	padding-top: 23px;
	padding-bottom: 20px;
	background-color: #29bde0;
}
.result-txt_win{

	margin: 0 auto;
	width: 351px;
	height: 205px;
	text-align: center;
	background: url(../imgs/zys26.png) no-repeat center;
}
.result-txt_win h4{
	padding-top: 130px;
	font-size: 48px;
	color: #fff;
}
.result-txt_lastpalyers{
	margin: 60px 80px 0;
}
.result-txt_lastpalyers dl{
	overflow: hidden;
}
.result-txt_lastpalyers dt{
	font-size: 26px;
	color: #fff;
}
.result-txt_lastpalyers dd{
	float: left;
	margin-right: 20px;
	font-size: 26px;
	color: #fff;
}
.result-detail{
	background-color: #fff;
}
.result-detail li{
	position: relative;
	padding: 4px 80px 30px;
	border-bottom: 1px solid #dddddd;
}
.result-detail dt{
	font-size: 30px;
	color: #515151;
}
.result-detail dd{
	font-size: 26px;
	color: #a6a6a6;
}
.result-detail span{
	position: absolute;
	top: 8px;
	right: 80px;
	font-size: 20px;
	color: #c7c7c7;
}
.result-btn{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 20px;
	height: 110px;
	text-align: center;
	background-color: #29bde0;
}
.result-btn a{
	display: inline-block;
	width: 270px;
	height: 87px;
	line-height: 87px;
	text-align: center;
	background-color: #f66f6f;
	font-size: 40px;
	color: #fff;
}
/*结果页 结束*/