<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../js6.css" />
		<title>新增article</title>
	</head>

	<body class="">
		<div class="backstage">
			<div class="bsheader">
				<div class="bsheader-logo">
					<h2>萝卜多后台管理系统</h2>
				</div>
				<div class="bsheader-manage">
					<ul>
						<li><a href="#">管理员</a></li>
						<li><span>|</span></li>
						<li><a href="#">admin</a></li>
						<li><span>|</span></li>
						<li class="logout"><a href="#"></a></li>
					</ul>
				</div>
			</div>
			<div class="bsbody">
				<div class="bsbody-menu">
					<ul>
						<li>
							<div class="main">
								<a href="#">Article管理</a>
							</div>
							<ul>
								<li><a href="#">Article列表</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="addbody-content">
					<div class="addbody-content_add">
						<div class="head">
							<label>新增Article</label>
						</div>
						<div class="body">
							<ul>
								<li><label>标题名称</label><input type="text" name="" id="" value="" /></li>
								<li>
									<label>类 型</label>
									<select name="">
										<option value="">请选择</option>
										<option value="">首页Banner</option>
										<option value="">找职位Banner</option>
										<option value="">找经营Banner</option>
										<option value="">行业大图</option>
									</select>
								</li>
								<li><label>说明</label><input type="text" name="" id="" value="" /></li>
								<li><label>跳转链接</label><input type="text" name="" id="" value="" /></li>
								<li>
									<label>配图</label>
									<div class="file">
										<span>选择文件<input type="file" /></span>
										<div class="icon">
											<img src=""/>
											<font>配图预览</font>
										</div>
									</div>
								</li>
								<li>
									<table border="" cellspacing="0" cellpadding="">
										<tr>
											<th>图片名</th>
											<th>文件大小</th>
											<th>进度</th>
											<th>操作</th>
											<th>操作</th>
										</tr>
										<tr>
											<td>活动图片.jpg</td>
											<td>400KB</td>
											<td><span class="bar"><em style="width: 90px;"></em></span>80%</td>
											<td>√</td>
											<td>
												<input type="button" name="" class="upload" value="上传" />
												<input type="button" name="" class="delete" value="删除" />
											</td>
										</tr>
									</table>
								</li>
								<li>
									<div class="btns1">
										<input type="button" name="" id="" value="立即上线" />
										<input type="button" name="" id="" value="存为草稿" />
									</div>
									<div class="btns2">
										<input type="button" id="" value="取消" />
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>