<!DOCTYPE html>
<html ng-app="">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../js6.css"/>
		<title>后台页</title>
	</head>
	<body class="">
		<div class="backstage">
			<div class="bsheader">
				<div class="bsheader-logo">
					<h2>萝卜多后台管理系统</h2>
				</div>
				<div class="bsheader-manage">
					<ul>
						<li><a href="#">管理员</a></li>
						<li><span>|</span></li>
						<li><a href="#">admin</a></li>
						<li><span>|</span></li>
						<li class="logout"><a href="#"></a></li>
					</ul>
				</div>
			</div>
			<div class="bsbody">
				<div class="bsbody-menu">
					<ul>
						<li>
							<div class="main">
								<a href="#">Article管理</a>
							</div>
							<ul>
								<li><a href="#">Article列表</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="bsbody-content">
					<h2>Welcome!</h2>
				</div>
			</div>
		</div>
		<script src="../js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/angular-route.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../app.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
